* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: PopRegular;
  src: url("./fonts/Poppins-Regular.ttf");
}

body {
  font-family: PopLight;
  margin: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  min-height: 100vh;
}

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 4s ease-in;
}

.loader-circle {
  height: 20px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
  position: relative;
  top: -5%;
}

.preload .circle {
  background-color: #a0c5e8;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;

  margin: -5px;
  z-index: 888;
  display: inline-block;
}

.circle:nth-child(2) {
  background-color: #a5a5a5;
  animation-delay: 0.5s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(0.5);
  }
}
.main {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; */
  transition: opacity 2s ease-in;
  opacity: 0;
  /* display: none; */
}

.main-active {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  opacity: 1;
}

.photo-landing-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode: lighten;
  animation: reveal 1s ease forwards;

  opacity: 0;
}

.main video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: reveal 1s ease 0.5s forwards;
  opacity: 0;
}

.main .animate-text h1 {
  position: relative;
  font-family: PopRegular;
  font-weight: bold;
  text-align: center;
  font-size: 94px;
  transform: translateY(-100%);
  animation: transition 1s ease-in;
  z-index: 3;
  display: inline-block;
  display: none;
}

/* .animate-text h1 {
  display: none;
} */

.animate-text h1.text-in {
  animation: textIn 0.5s ease;
  display: block;
}

.animate-text h1.text-out {
}

@keyframes textIn {
  from {
    transform: translateY(-110%);
    opacity: 0;
  }
  to {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.navigation {
  position: relative;
  height: 8vh;
  width: 80%;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 1.7rem;
  height: 0.2rem;
  color: black;
  background-color: black;
  margin: 0.4rem;
  transition: all 0.3s ease;
}

.nav-open {
  position: absolute;
  top: 8vh;
  left: 0px;
  width: 100%;
  height: 20vh;
  z-index: 2;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in;
  background-color: transparent;
}

.pages {
  grid-column: 2/3;
}

.pages {
  list-style: none;
  text-align: left;
}

.pages a {
  color: black;
}

.links {
  display: flex;
}
.links a {
  text-decoration: none;
}

.links img {
  position: relative;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.nav-active {
  transform: translateX(0%);
}
.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes transition {
  0% {
    transform: translate(-100%, 100%);
    opacity: 0;
  }
  50% {
    transform: translate(0%, 100%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 100%);
    opacity: 0;
  }
} */

@media screen and (max-width: 1550px) {
  .animate-text h1.text-in {
    font-size: 76px;
    /* transform: translateY(200%); */
  }
}
@media screen and (max-width: 1250px) {
  .animate-text h1.text-in {
    font-size: 48px;
    /* transform: translateY(200%); */
    text-align: center;
  }
  .nav-open h3 {
    font-size: 15px;
  }
  #email {
    transform: translateY(-10%);
    font-size: 10px;
  }
  .navigation {
    width: 100%;
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 501px) {
  .main h1 {
    display: none;
  }
  .animate-text h1.text-in {
    font-size: 40px;
    /* top: 30%;
    left: 18%; */
  }
  .nav-open h3 {
    font-size: 15px;
  }

  .links img {
    padding: 5px;
    width: 30px;
    height: 30px;
  }

  .pages a {
    font-size: 12px;
  }
  .contact label {
    font-size: 12px;
  }

  #email {
    transform: translateY(-10%);
    font-size: 10px;
  }
  .navigation {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .navigation img {
    width: 50px;
  }
  .preload img {
    width: 50px;
  }
}
